<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
<footer>
    <form action="/logout" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</footer>
<h1>Изменение пользователя</h1>
<form action="" th:action="'/admin/edit/' + ${user.id}" method="post">
    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
    <input type="hidden" name="id" th:value="${user.id}">
    Имя пользователя: <input type="text" name="username" th:value="${user.username}" required><br>
    Пароль: <input type="password" name="password" required><br>
    <div>
        <p>Выберите роли:</p>
        <div th:each="role : ${roles}">
            <input type="checkbox" name="rolesIds" th:value="${role.id}" th:checked="${user.roles.contains(role)}"> <span th:text="${role.name}"></span><br>
        </div>
    </div>
    <button type="submit">Сохранить изменения</button>
</form>
<a href="/admin">Назад к списку пользователей</a>
</body>
</html>
